<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ComprasJSP</display-name>
  <servlet>
    <servlet-name>AdicionaItem</servlet-name>
    <servlet-class>aplicacao.servilets.ServiletAdicionaItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarItens</servlet-name>
    <servlet-class>aplicacao.servilets.ServiletListarItens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaItem</servlet-name>
    <url-pattern>/adicionaItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarItens</servlet-name>
    <url-pattern>/listarItens</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>